body {
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    height: 100%;
    overflow: hidden;
  }
  
  
  h1{
    color: black;
    font-variant: small-caps;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-seri;
    line-height: normal;
    text-align: center;
    font-size: 66px;
    background: linear-gradient(184deg, #000 10%, rgba(33, 90, 76, 0.58) 69.66%, rgba(0, 0, 0, 0.00) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
.header {
    
    background-color: ;
    text-decoration: ;
    margin-bottom: 22px;
  }

  #button{
    text-align: center;
  }

   #Word2Button,
  #Word3Button,
  #Word4Button,
  #Word5Button,
  #Word6Button,
  #Word7Button {
    padding: 20px 10px; 
    border-radius: 10px;

  }

  .all-buttons {
    /* Button styles */
    background-color: #f0f0f0;
    border: none;
    margin-top: 20px;
    margin-right: 20px;
    background-color: #D9D9D9;
    box-shadow: 0px 11px 15px 2px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 30px;
    padding: 20px 10px;
    border-radius: 8px;
    display: inline-block;
  }

  .all-buttons{
    color: #000000;
    display: inline-block;
    padding: 8px 16px;
    outline: none;
    position: relative;
    bottom: -1rem;
    left: 9rem;
  }
  
  .all-buttons:hover{
    background: #7E7373;
    box-shadow: 0px 11px 15px 2px rgba(0, 0, 0, 0.22);
    color: #ffffff;

    }
  
  
  #resultContainer{   
    text-align: center;
    color: black;
    font-size:40px;   
  }

  .resulter{
    position: relative;
    top: 7rem;
  }
  


/* Styles for mobile screens */
@media screen and (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }

.background-blur{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    filter: blur(2px);
    z-index: -1;

}

  h1 {
    text-align: center;
  }

  .header {
   position: relative;
   top:60px;
  }

  button {
    /* Adjust button styles for mobile */
    font-size: 20px; /* Decrease the font size for buttons */
    padding: 8px 16px; /* Adjust the padding of buttons */
    background-color: rgba(255, 0, 0, 0.5); /* Change the cursor color */
  }

  #resultContainer {
    font-size: 30px;
    margin-top: 34px;
    font-weight:bold;
  }

.all-buttons{
    border: none;
    margin-top: 20px;
    margin-right: 20px;
    background-color: #D9D9D9;
    box-shadow: 0px 11px 15px 2px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 12px;
    padding: 20px 10px;
    border-radius: 8px;
    display: inline-block;
}

.all-buttons{
    display: inline-block;
    padding: 8px 16px;
    outline: none;
    touch-action: manipulation;
    position: relative;
    top: 19rem;
    left: 2.7rem;
}

.resulter{
    position: relative;
    top: -6rem;
}

  #Word2Button,
  #Word3Button,
  #Word4Button,
  #Word5Button,
  #Word6Button,
  #Word7Button {

    padding: 20px 10px; /* Increase the padding for larger buttons */
    border-radius: 10px; /* Increase the border-radius for rounded buttons */
  }
}


